 .center img{
    text-decoration: none;
    color:inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
  margin: 20px 0px;
}
h4,h6{
    font-weight: 400;
}
.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#form1{
  width: 90%;
  
}
.btn btn-outline-warning btn-lg ms-3{
 
  width: 20%;
}

.center.btn{
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400px;
    padding:12px 72px;
    border-radius: 3px !important;
}

 

