<!-- Updating the existing user information -->

    <div style="text-align: center;" class="mydiv">
        <div *ngIf="flag">
            <h2>Update User</h2>
            <form (ngSubmit)="updateUserInfo()">
                <mat-form-field style="width:400px; height: 80px" appearance="outline">
                <input matInput type="text" name="email" [(ngModel)]="email" readonly /><br />
                <mat-error>Enter Email</mat-error>
            <mat-label>Email</mat-label>
            </mat-form-field>

            <mat-form-field style="width:400px; height: 80px" appearance="outline">
                <input matInput type="text" name="password" [(ngModel)]="password" /><br />
                <mat-error>Enter Password</mat-error>
            <mat-label>Password</mat-label>
            </mat-form-field>
                <button style="margin:5px;" type="submit" class="btn btn-primary">Update User</button>
                <button style="margin:5px;" type="reset" class="btn btn-primary ">Reset</button>
            </form>
        </div>
    </div>

    <!-- Displaying the User details in a table -->
    <h1 style="text-align:center; color: black;">USER DETAILS</h1>
<p style="text-align: center;" class="icons" ><i class="fa fa-star" aria-hidden="true"></i>---<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>---<i class="fa fa-star" aria-hidden="true"></i></p>
    <table class="table table-striped">
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Date</th>
            <th>Delete User</th>
            <th>Update User</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>{{user.password }}</td>
            <td>{{dd| date:'short'}}</td>
            <td><input type="button" value="Delete" class="btn btn-danger" (click)="deleteUser(user.email)" /></td>
            <td><input type="button" value="Update" class="btn btn-success" (click)="updateUser(user)" /></td>
        </tr>
    </table>
    <br />
    <span style="color:red;font-size: 20px;">{{deleteMsg}}</span>
    <br />
    <span style="color: red;font-size:20px;text-align:center;">{{logoutMsg}}</span>
